<form [formRoot]="weatherBriefingForm" class="text-3xl flex flex-col">
    <fieldset>
        <legend>Message types</legend>

        <input type="checkbox" id="metar" [formField]="weatherBriefingForm.metar">
        <label for="metar">METAR</label>

        <input type="checkbox" id="sigmet" [formField]="weatherBriefingForm.sigmet">
        <label for="sigmet">SIGMET</label>

        <input type="checkbox" id="taf" [formField]="weatherBriefingForm.taf">
        <label for="taf">TAF</label>
    </fieldset>
    
    <label for="stations">Airports:</label>
    <input type="text" id="stations" [formField]="weatherBriefingForm.airports">

    <label for="countries">Countries:</label>
    <input type="text" id="countries" [formField]="weatherBriefingForm.countries">

    <button type="submit">Submit</button>

    <!-- <p>{{ weatherBriefingForm.value }}</p> -->
</form>
