<form [formRoot]="weatherBriefingForm" class="text-3xl flex flex-col" novalidate>
    <fieldset>
        <legend>Message types</legend>

        <input type="checkbox" id="metar" [formField]="weatherBriefingForm.metar">
        <label for="metar">METAR</label>

        <input type="checkbox" id="sigmet" [formField]="weatherBriefingForm.sigmet">
        <label for="sigmet">SIGMET</label>

        <input type="checkbox" id="taf" [formField]="weatherBriefingForm.taf">
        <label for="taf">TAF</label>
    </fieldset>
    
    <label for="airports">Airports:</label>
    <input type="text" id="airports" [formField]="weatherBriefingForm.airports">

    <label for="countries">Countries:</label>
    <input type="text" id="countries" [formField]="weatherBriefingForm.countries">

    @if (weatherBriefingForm().touched()) {
        @for (error of weatherBriefingForm().errors(); track error.kind) {
            <p class="text-red-500 text-base">{{ error.message }}</p>
        }
    }

    <button type="submit" [disabled]="weatherBriefingForm().invalid()">Submit</button>

</form>
