<form [formRoot]="weatherBriefingForm" novalidate class="rounded-lg border border-black p-4 mb-4 flex flex-col gap-4" >
    <fieldset >
        <div class="flex flex-row flex-wrap">
            <legend class="w-full md:w-1/4">Message types</legend>
            <div class="w-full md:w-3/4">
                <input-checkbox id="metar" label="METAR" [field]="weatherBriefingForm.metar" />
                <input-checkbox id="sigmet" label="SIGMET" [field]="weatherBriefingForm.sigmet" />
                <input-checkbox id="taf" label="TAF" [field]="weatherBriefingForm.taf" />
            </div>
        </div>
    </fieldset>
    
    <input-text id="airports" label="Airports:" [field]="weatherBriefingForm.airports" />

    <input-text id="countries" label="Countries:" [field]="weatherBriefingForm.countries" />

    @if (weatherBriefingForm().touched()) {
        @for (error of weatherBriefingForm().errors(); track error.kind) {
            <p class="text-red-500 text-base">{{ error.message }}</p>
        }
    }

    <button type="submit" [disabled]="weatherBriefingForm().invalid()" class="self-center rounded bg-blue-600 px-4 py-2 text-sm font-medium text-white hover:bg-blue-700 outline-offset-2 disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-500">Submit</button>

</form>
